:root {
    --base: #111;
    --primary-color: #006ee6;
}

* {
    box-sizing: border-box;
}

body {
    background: #ECECEC;
    color: var(--base);
    font-family:  Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

li {
    display: inline-block;
    margin: 1rem 1.5%;
}

label {
    display: block;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.form-input {
    background-color: #FAFAFA;
    border-radius: .15rem;
    border: 1px solid #C0C0C0;
    font-size: 1.3rem;
    width: 100%;
}

.form-input:focus {
    background-color: #FCFCFC;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    text-align: center;
    width: 200px;
}

.card-title {
    background: var(--base);
    color: #FFF;
    font-size: 1.5rem;
    padding: .25rem;
}

.card-img img {
    display: block;
    width: 100%;
}

.card-subtitle {
    background: #FFF;
    padding: .2rem;
}

.input-field {
    font-size: 1.1rem;
    margin-bottom: .8rem;
}

.marginx-auto {
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 0 1rem;
    max-width: 960px;
}

.btn {
    background-color: var(--primary-color);
    border: none;
	border-bottom: 3px solid #0058b8;
    border-radius: .3rem;
    color: #FFF;
    font-size: 1.3rem;
    font-family: Helvetica, Arial, sans-serif;
    padding: .8rem 1.5rem;
}

@media screen and (max-width: 37rem){
    .btn {
        width: 100%;
    }
}
